.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #282c34;
    min-height: 80em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.removeButton {
    position: relative;
    margin-left: 1140px;
    background-color: red;
    font-size: 20px;
    height: 4%;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
    text-align: center;
}

.filter-dropdown {
    border-radius: 8px;
    position: relative;
    left: -500px;
    margin-top: 10px;
    size: 25%;
    width: 120px;
    height: 40px;
    font-weight: bold;
}
